# -*- mode: gitignore; -*-

# ------------------------------------------------------------
# Standard gitignore for Python projects
# - Ignore standard Linux temp files
# - Ignore Emacs temp files
# - Ignore Python temp files & built stuff
# ------------------------------------------------------------
*.sock

__pycache__/
.DS_Store
*.pyc

# Distribution / packaging
env/
.env
.flaskenv

# Unit test / coverage reports

# Virtualenvs
venv/
.venv*

# Logging
logs/

# Migrations
migrations/

#db
*.db
