[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=spikeball
Group=www-data
WorkingDirectory=/home/spikeball/spikeball
EnvironmentFile="/home/spikeball/spikeball/.flaskenv"
ExecStart=/home/spikeball/.anaconda/envs/spikeball/bin/gunicorn --workers 1 --bind unix:/home/spikeball/spikeball.sock -m 007 "app:create_app()"

[Install]
WantedBy=multi-user.target
