# spikeball nginx configuration without certbox enabled
# copy this file to /etc/nginx/sites-available
# make a static link from /etc/nginx/sites-available to /etc/nginx/sites-enabled
# test if the nginx configuration is correct: sudo nginx -t
# enable nginx: sudo systemctl enable nginx
# restart nginx: sudo systemctl restart nginx
# finally enable certbox for the domains specified.

server {
	listen 80;
	server_name spikeballgent.be roundnetgent.be;
	
	location /{
		include proxy_params;
		proxy_pass http://unix:/home/spikeball/spikeball.sock;
	}
}
