{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% for event in events_today %}
    <meta id="coordinates_event{{ loop.index }}" class="coordinates" data-longitude='{{ event.location.longitude }}' data-latitude="{{ event.location.latitude }}">
    {% endfor %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        #map { height: 400px; width:100%;}
        .map-container { margin-top: 10px;}
    </style>
{% endblock %}

{% block app_content %}
    <h1>Events today</h1>
    
    {% if events_today %}
    <div class='map-container'>
        <div id='map' data-type='map'></div>
    </div><br>
    {% endif %}
    {% for event in events_today %}
        {% include '_event.html' %}
    {% endfor %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src='/static/OpenLayers.js'></script>
    <script src='/static/show-all-locations.js'></script>
{% endblock %}