{% extends "base.html" %}


{% block styles %}
    {{ super() }}
    <style>
        .navbar-nav li a {
            line-height: 64px;
            height: 64px;
            padding-top: 0;
        }
        .navbar-header li a {
            float: left;
            padding: 15px;
            text-align: center;
            width: 100%;
        }
        .navbar-brand {float:none;}
    </style>
{% endblock %}


{% block app_content %}
    <h1>Welcome to Spikeball Gent!</h1>
    <h4>Spikeball Gent is the most active community of spikeball players in Gent. <a href="{{ url_for('auth.register') }}">Register</a> to stay updated on the spikeball sessions in Gent.</h4>
    <h2>What is Spikeball?</h2>
    <p>Roundnet is a net sport inspired primarily by concepts from volleyball. It was originally created in 1989 by Jeff Knurek[1][2] 
        although the equipment he created for the game was superseded in the 1990s. Since 2008 Kankakee Spikeball Inc., a manufacturer of 
        equipment for the sport, has promoted it (for which reason the game is also mentioned as spikeball).[3] There are multiple ways to 
        play roundnet. Most games consist of four players, but there are also two- and six-player variants. Differences include where 
        the players line up and infraction penalties, among others. The materials used in roundnet include a small trampoline-like object 
        with string netting, a small bouncing ball with a 12-inch circumference, and four players. In standard play, players line up next 
        to each other around the trampoline; in other versions, they line up across from each other. In all versions, the game starts with 
        a serve from one team to another, continues as long as the ball is being hit from players to trampoline, and ends when an 
        infraction occurs between either the players or the ball.
    </p>
    <h2>Who are the people behind Spikeball Gent?</h2>
    <h2>What do I need to do to start playing Spikeball?</h2>
{% endblock %}